%p#notice= notice
%p
	%strong= "Title"
	= @game.title
%p
	%strong= "Rate"
	= @game.rate

- if (current_user && current_user.admin?)
	= link_to 'Edit', edit_game_path(@game)

- if (current_user)
	%p= link_to 'Add', '#'

%p= link_to 'Back', games_path
