.rectangle
  .rectangle-header
    %h1= "Games details"
  .rectangle-body
    %p#notice= notice
    %p
      %strong= "Title:"
      = @game.title
    %p
      %strong= "Rate:"
      = @game.rate

    %p
      %strong= "Users owning:"

      %table.table.table-condensed
        %tbody
          - @game.users.each do |user|
            %tr
              %td= user.email
              %td= link_to 'Show user', user_path(user)

    - if (current_user && current_user.admin?)
      %p= link_to 'Edit', edit_game_path(@game)
      %p= link_to 'Add', '#'
      

    %p= link_to 'Back', games_path

