%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid.navbar
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li
          %h3= link_to "Home", '/'
        %li
          %h3= link_to "Games", games_path
        %li
          %h3= link_to "Gamers", users_index_path
        -if user_signed_in?
          %li
            %h3= link_to "Profile", current_user
          %li 
            %h3= link_to('Logout', destroy_user_session_path, :method => :delete)
        -else
          %li
            %h3= link_to('Login', new_user_session_path)

.jumbotron.text-center
  %h1 Choose you favourite games!
  %h2 Be the one with the biggest games collection
  %span.glyphicon.glyphicon-chevron-down
